html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

.container-fluid {
    max-width: 1320px;
}

.container {
    max-width: 1020px;
}