{% extends "navbar.html" %}
{% load static %}

{% block content%}
<!--Jobs Section START-->
<section id="services" class="services section light-background">
    <div class="container">
        <div class="row g-5">
            <!--Job Item START-->
            {% for job in all_jobs %}
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-activity icon"></i>
                    <div>
                        <h3 class='mb-4'>{{ job.title }}</h3>
                        <p class='mb-2'>{{ job.company }}</p>
                        <p>{{ job.location }}</p>
                        <a href={{ job.url }} target="_blank" class="read-more stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--Job Item STOP-->
        </div>
    </div>
</section>
<!--Jobs Section STOP-->
{% endblock %}